////
/// Base File
/// Init css basic settings
////

@import "./typography";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font: $font;
  color: $font-color;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  outline: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0;
}

menu,
nav {
  ul,
  li {
    margin: 0;
    padding: 0;
  }
}

hr {
  width: 100%;
  height: 20px;
  margin: 0 0 20px;
  border: none;
  border-bottom: 1px dashed;
}

button {
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  transition: all 0.25s ease;
}
