////
/// Typography
/// Init typography basic settings
////

///
$font:                'Open Sans', sans-serif;
///
$font-size:            16px;
///
$font-color:         #000;
///
$font-weight-light:    400;
///
$font-weight:          600;
///
$font-weight-bold:     800;
///
$headers-h1-font-size: 46px;
///
$headers-h2-font-size: 32px;
///
$headers-h3-font-size: 24px;
///
$headers-h4-font-size: 22px;
///
$headers-h5-font-size: 18px;
///
$headers-h6-font-size: 16px;

html,
button {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: $font;
  font-weight: 400;
  color: $font-color;
}

h1 {
  margin: 0;
  font-size: $headers-h1-font-size;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: $headers-h2-font-size;
  line-height: 1.4;
}

h3 {
  font-size: $headers-h3-font-size;
}

h4 {
  font-size: $headers-h4-font-size;
}

h5 {
  font-size: $headers-h5-font-size;
}

h6 {
  font-size: $headers-h6-font-size;
}

strong {
  font-weight: $font-weight-bold;
}

// General tweaks for iconfonts

.iconfont {
  display:inline-block;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin: 5px;
}
